:root{
    --bgBody: #F6F5F5;

    --bgPanel: #145374;
    --border: #F6F5F5;
    --textPanel: #00334E;

    --bgBoton: #EE6F57;
    --btnShadow: #BE2F13;

    --bgDarkWindow : #00334ea4;
}


*{
    margin: 0;
    padding: 0;

    font-family: 'Silkscreen', sans-serif;
}

body{
    background-color: var(--bgBody);
}

/*HOME SCREEN*/

.homeScreen{
    z-index: 100;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--bgDarkWindow);
}

.homeScreen .characterSelector{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.homeScreen .characterSelector #character{
    width: 200px;
    padding: 20px;
}

.homeScreen .imgCharacterConteiner{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 200px;

    overflow-x: hidden;
}

.homeScreen #start{
    width: 150px;
    height: 50px;
    font-size: 20px;
}

.homeScreen .changeBtn{
    border: none;

    background-color: transparent;
    color: var(--textPanel);
    font-size: 40px;

    cursor: pointer;
}

.homeScreen h1{
    font-family: 'Silkscreen', sans-serif;
    font-size: 60px;
    text-align: center;
    letter-spacing: -5px;
    color: var(--textPanel);
    width: 320px;
    font-weight: bold;

    text-shadow:
    -5px 0 var(--border),
    5px 0 var(--border),
    0 -5px var(--border),
    0 5px var(--border),
    -5px -5px var(--border),
    5px -5px var(--border),
    -5px 5px var(--border),
    5px 5px var(--border);
}

/*MENU*/

.menu{
    z-index: 100;
    background-color: var(--bgDarkWindow);
}

/*CANVAS*/

canvas{
    background-image: url("./media/fondos/fondo1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: 100vw;
    height: fit-content;

}

/*MENU*/

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*--------- Utility classes ---------*/

.hidden{
    display: none;
}

.fixedPosition{
    position: fixed;
}

.fullScreen{
    width: 100vw;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    color: var(--textPanel);
    padding: 30px;
    border: 10px solid var(--border);
    background-color: var(--bgPanel);
}

.btn{
    border: none;
    padding: 10px;
    background-color: var(--bgBoton);
    box-shadow: 5px 5px 0 0 var(--btnShadow);

    text-align: center;
}

.btn:active{
    transform: translate(5px,5px);
    box-shadow: 0 0 0 0 var(--btnShadow);
}

.oldImg{
    position: absolute;
    width: 200px;
}

/*DESAPARECER*/

@keyframes desaparecerDerecha {
    0% { transform: translateX(0); opacity: 1; }
    100% { transform: translateX(200px); opacity: 0; }
}

@keyframes desaparecerIzquierda {
    0% { transform: translateX(0); opacity: 1; }
    100% { transform: translateX(-200px); opacity: 0; }
}

/*APARECER*/

@keyframes aparecerDerecha {
    0% { transform: translateX(200px); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

@keyframes aparecerIzquierda {
    0% { transform: translateX(-200px); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}